@import '../_variables.scss';

.reply-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__option {
    border: 2px solid $reply-color;
    border-radius: 8px;
    color: $reply-color;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    max-width: 20rem;
    cursor: pointer;
    transition: color 100ms, background-color 100ms, border-color 100ms;

    &:hover {
      color: #000;
      background-color: $reply-color;
    }

    &:active {
      $activeColor: lighten($reply-color, 15%);
      color: #000;
      background-color: $activeColor;
      border-color: $activeColor;
    }
  }
}
